
#Table2 {
    font-family: arial, sans-serif;
    width: 60%;
}
#Th2 {
    border: 0px solid #000000;
    text-align: left;
    padding: 8px;
    Color: blue;
}
#Th3 {
    border: 0px solid #000000;
    text-align: right;
    padding: 8px;
    Color: blue;
}
#Th4 {
    border: 0px solid #000000;
    text-align: center;
    padding: 8px;
    Color: blue;
}
#Table1 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}
td, th {
    border: 2px solid #000000;
    text-align: center;
    padding: 8px;
}
.Tr1:nth-child(1) {
    background-color: #d6ff44;
}
